@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.scss';

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    @apply font-main dark:bg-slate-900 dark:text-slate-400;
    @apply text-slate-900;
}

.row {
    @apply flex flex-row;
}

.fade {
    &-enter-active,
    &-leave-active {
        @apply duration-300;
    }

    &-enter-from,
    &-leave-to {
        @apply opacity-0 #{!important};
    }
}

.page-title {
    @apply font-black text-3xl dark:text-white w-fit mx-auto;
    @apply mb-16;

    &::after {
        content: "";
        @apply w-7 h-1.5 bg-blue-500 rounded block mx-auto mt-2;
    }
}

.sub-title {
    @apply font-semibold text-2xl dark:text-white mb-5;

    &::after {
        content: "";
        @apply w-4 h-1.5 bg-blue-500 rounded block mt-1 duration-300;

        &:hover {
            @apply w-7;
        }
    }
}

section.content {
    h2 {
        @apply text-xl font-semibold dark:text-white mb-3;
        &:not(:first-child) {
            @apply mt-10;
        }
    }

    p {
        @apply text-base font-medium mb-2;
    }

    a {
        @apply text-blue-500 underline underline-offset-4 decoration-dotted;
    }
}
